dist: xenial
language: python
python:
- "3.5"
- "3.6"
- "3.7"
install:
- pip install tox tox-travis
script:
- tox
matrix:
  fast_finish: true
  include:
  - python: "3.6"
    env: TOXENV=flake8,pylint
